[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"
jupyter = "*"
mypy = "*"
black = "*"

[packages]
pymc3 = "*"
numpy = "*"
graphviz = "*"
scikit-learn = "*"
jupyter = "*"
pandas = "*"
tensorflow = "*"
tensorflow-probability = "*"
xlrd = "*"
gpflow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
